th {
  font-weight: normal;
  white-space: nowrap;
}
th:not(:last-child)::before {
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 1.6em;
  background-color: rgba(0, 0, 0, 0.06);
  transform: translateY(-50%);
  transition: background-color 0.3s;
  content: '';
}
td {
  white-space: nowrap;
  .circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }
}
