html, body, html body.swal2-height-auto, #app {
  height : 100% !important;
}

a {
  text-decoration : none;
}

.pointer {
  cursor : pointer;
}

.cursor {
  cursor : default;
}

.unselect {
  user-select : none;
}

.fw-medium {
  font-weight : 500;
}
